.cart img{
    height: 250px;
    width: 250px;
    padding: 25px;
    padding-bottom: 5px;
}
.cart{
    height: 600px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 10px;
}

.cart-content{
    padding: 20px;
    padding-top: 0px;
    font-weight: 500;
}

.cart-content button{
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: 0px;
    background:darksalmon;
    color: #ffff;
    font-weight: 700;
}

.detail{
    color: #9e9e9e;
}