.position{
    position: sticky;
    top: 0%;
}
.sub-details{
    display: flex;
    justify-content: space-around;
    background-color: #a9a9a9;
    border-radius: 10px;
    margin:30px;
    padding: 20px;

}
.sub-details h3{
    background-color: #ffff;
    padding: 5px;
    border-radius: 5px;
}

.sub-details button:hover{
    background: darksalmon;
    color: #ffff;
}

.sub-details button{
    border: 0px;
    background-color: #ffff;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

.small{
    font-size: small;
}

.time{
    display: flex;
    justify-content: space-between;
    background-color: #cecdcd;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.btn-acivity{
    margin-top: 30px;
    background-color: darksalmon;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: medium;
    color: #ffff;
}